section.container-item {
    display: flex;
    justify-content: center;
    width: 118rem;
}

section.container-item img {
    width: 30rem;
    border-radius: 5rem;
}

div.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65rem;
    width: 40rem;
    color: white;
    border: 2px;
    border-style: solid;
    border-radius: 1.5rem;
}

h2.nombre-item {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

p.precio-item {
    color: white;
    font-size: 2rem;
}
