* {

    box-sizing: border-box; 

    padding: 0px;
    margin: 0px;

}

section.container-item {

    height: 100rem;
    width: 118.9rem;

    display: inline-flex;

    justify-content: center;

    padding-top: 1rem;

}

section.container-item img {

    width: 25.5rem;

    padding: 2rem;

    border-radius: 4rem;

}

div.info-item {

    height: 60rem;
    width: 30rem;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 2rem;

    border: 2px;
    border-radius: 1.5rem;
    border-style: solid;

    color: white;

}

h2.nombre-item {

    padding: 2rem;

    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;

    color: white;

}

p.precio-item {

    padding: 2rem;

    font-size: 1.5rem;

    color: white;

}

button.detalle-item {

    height: 3.2rem;
    width: 7rem;

    border: 2px;
    border-radius: 1.5rem;
    border-style: solid;

    color: white;
    background-color: black;

}