* {

    box-sizing: border-box;

    padding: 0px;
    margin: 0px;    

}


div.div-navBar {

    width: 100%;

    padding-top: 2rem;
    padding-bottom: 5rem;

}


div .nav-main {

    display: flex;

}


div nav.nav-main ul {

    width: 100%;

    display: flex;

    justify-content: space-around;

    text-decoration: none;

}


div nav.nav-main ul li {

    padding: 0.2rem;

    font-size: 2rem;

    list-style: none;

}


div nav.nav-main ul li a, i {

    text-decoration: none;

    color: white;

}