* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}


div header h1.h1-titulo {
color: rgb(0, 4, 255);
font-size: 5rem;
}