div.contador-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    color: white;
    border: 2px;
    border-style: solid;
    border-radius: 1.5rem;
}

div.contador-container button {
width: 1rem;
border-radius: 0.5rem;
}

div.contador-container span {
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    color: white;
}