section.container-botones {

    width: 30rem;

    display: flex;

    justify-content: space-evenly;

}


div.contador-container {

    height: 3.2rem;
    width: 7rem;

    display: flex;

    align-items: center;
    justify-content: center;

    border: 2px;
    border-radius: 1.5rem;
    border-style: solid;

    color: white;

}

div.contador-container button {

    width: 1rem;

    border-radius: 0.5rem;

}

div.contador-container span {

    font-size: 2rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;

    color: white;

}

div.agregar-container button {

    height: 3.2rem;
    width: 7rem;

    display: flex;

    align-items: center;
    justify-content: center;

    border: 2px;
    border-radius: 1.5rem;
    border-style: solid;

    color: white;

    background-color: black;

}